<h1>This is the about page</h1>

<h2>Eph Now Origins</h2>

<p>I, Oluwatobi Popoola, did not come up the idea for a space for Williams students to share personal experiences. I only claim ownership of the coding using to program the website, and nothing else. What I mean by this, is that the stories of triumphs and tragedy, sadness and success were always around at Williams College. I listened to a fair amount of students who shared everything in the spectrum possible about the campus, and the honesty of their perspective stayed with me much longer afterwards than the actual words. There likely are many spaces on campus to share your own story, I merely created my own version. Eph Now is not my project, merely a vision.</p>



<h3>My Wishes</h3>


<h4>I want Eph Now to serve a multitude of purposes for Williams students, with none taking precedence over the other.</h4>
<p>
A place for those whose inner voices are louder than the ones we hear from their mouths.
A place for those who feel as though they will be judged in a different platform or media. 
A place for those interested in learning about the different experiences of our community that can't exactly go on a brochure or public forum.
A place for those to reflect and consider the viewpoints of things at a different angle.
Lastly, a place to procrastinate when Facebook occasionally gets dry.
</p>



<%= link_to 'Home', root_path %>